{% extends 'posts/layout.html' %}

{% block content %}
<head>
<style>
table {
    border-collapse: collapse;
    border-spacing: 10;
    width: 90%;
    border: 20px solid #fff;
    font-size: 60px;
}    
        
th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-size: 60px;
}

th {
  background-color: #2E77BB;
  color: white;
}

tr:hover {background-color:#f5f5f5;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%
}
</style>
</head>
<body>
  <br>
  <h2>My Outstanding Meetings</h2>
  <br>
<div style="overflow-x:auto">
    <table id="myTable">
      <tr>
        <th><h5><b>Meeting Date</b></h5></th>
        <th><h5><b>Meeting Time</b></h5></th>
        <th><h5><b>Lecturer Name</b></h5></th>
        <th><h5><b></b></h5></th>
        <th></th>
      </tr>

      {% for post in meet %}
      <tr>
        <td><h5>{{ post.m_date }}</h5></td>
        <td><h5>{{ post.m_time }}</h5></td>
        <td><h5>{{ post.descript }}</h5></td>
        <form method="post" style="text-align: left;">
            {% csrf_token %}
            <td><h5>{{ form.as_p }}</h5></td>
            <td><button type="button" onclick="SelectAttendedRowFunction()" class="btn btn-default" style="background-color: #008CBA"">Attended</button></td>
        </form>
        
      </tr>
      {% endfor %}

    </table>
</div>

<script>

function SelectAttendedRowFunction() {
      // event.target will be the input element.
      //var c = confirm("are you sure this student attended?");
      //if(c === true){
       // var td = event.target.parentNode; 
      //  var tr = td.parentNode; // the row to be removed
      //  var num = tr.rowIndex
      //  tr.parentNode.removeChild(tr);
      //  var objectToDelete = JSON.parse(num)
      }
}

</script>

</body>

{% endblock %}