
<label>Lecturer Name</label>
<input type="text" name="lect_name"  value="<%= meeting.name %>">
<br />
<br />
<label>Date and Time</label>
<input type="datetime" name="date_time" value="<%= meeting.date_time %>">
<br />
<br />
<label>Description</label>
<input type="text" name="descript" value="<%= meeting.descript %>">