
<label>Lecturer Name</label>
<input type="text" name="lect_name"  value="<%= author.name %>">
<br />
<br />
<label>Date and Time</label>
<input type="datetime" name="date_time" value="<%= author.date_time %>">
<br />
<br />
<label>Description</label>
<input type="text" name="descript" value="<%= author.descript %>">