<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.1/css/mdb.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <!--<link rel="stylesheet" href="https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_forms.scss">-->
    <style>
            body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            }
            
            .topnav {
            overflow: hidden;
            background-color: #333;
            }
            
            .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            }

            .topnav a:hover {
                font-weight:bold;
            }  
                
    </style>

    <script>
    $('.navigation a').click(function(){
        $(this).closest('li').addClass('active').siblings().removeClass('active');
    });
    </script>
</head>
<body>

<div class="topnav">
    <a onmouseover="hoverColor(this)" id="posts" href="http://localhost:3000/authors/new">Arrange Meeting</a>
    <a id="edit" href="http://localhost:3000/authors">View Meetings</a>
</div>
<div class="container"
    <br>
    <%- body %>
<div>

<script>
    if(window.location.href=="http://localhost:8000/posts/"){
        document.getElementById("posts").style.backgroundColor = 'rgb(46,119,187)';
        document.getElementById("edit").style.backgroundColor = 'rgb(51,51,51)';
        document.getElementById("login").style.backgroundColor = 'rgb(51,51,51)';
        document.getElementById("yes").style.backgroundColor = 'rgb(51,51,51)';
    }
    if(window.location.href=="http://localhost:8000/posts/edit"){
        document.getElementById("posts").style.backgroundColor = 'rgb(51,51,51)';
        document.getElementById("edit").style.backgroundColor = 'rgb(46,119,187)';
        document.getElementById("login").style.backgroundColor = 'rgb(51,51,51)';
        document.getElementById("yes").style.backgroundColor = 'rgb(51,51,51)';
    }
    if(window.location.href=="http://localhost:8000/posts/yes"){
        document.getElementById("posts").style.backgroundColor = 'rgb(51,51,51)';
        document.getElementById("edit").style.backgroundColor = 'rgb(51,51,51)';
        document.getElementById("login").style.backgroundColor = 'rgb(51,51,51)';
        document.getElementById("yes").style.backgroundColor = 'rgb(46,119,187)';
    }
    if(window.location.href=="http://localhost:8000/posts/login"){
        document.getElementById("posts").style.backgroundColor = 'rgb(51,51,51)';
        document.getElementById("edit").style.backgroundColor = 'rgb(51,51,51)';
        document.getElementById("login").style.backgroundColor = 'rgb(46,119,187)';
        document.getElementById("yes").style.backgroundColor = 'rgb(51,51,51)';
    }
    
</script>

</body>
</html>